
<div class="col-log-3 col-md-3 col-sm-3 col-xs-3"></div>

<div class="col-log-8 col-md-8 col-sm-8 col-xs-12">

  <div class="col-log-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:50px; padding-bottom:50px;">
      <div class="col-log-5 col-md-7 col-sm-7 col-xs-12">
        <img src="/images/about-pic.png" alt="..." class="img-thumbnail img-responsive">
      </div>
      <div class="col-log-5 col-md-5 col-sm-5 col-xs-12">
        <h4>Hey, there.</h4>
        <h5>My name is Daniel.</h5>
        <p>I'm a senior a software engineer at Microsoft working on SharePoint.</p>
        <p>I split my free time reading up on how various components of web technologies work, learning to make iOS applications, and recently have begun playing around with artificial nerual networks.</p>
      </div>
  </div>
</div>