
<div class="col-log-3 col-md-3 col-sm-3 col-xs-3"></div>

<div class="col-log-8 col-md-8 col-sm-8 col-xs-12">

  <div class="col-log-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:50px; padding-bottom:50px;">
      <div class="col-log-5 col-md-7 col-sm-7 col-xs-12">
        <img src="/images/body-shot.png" alt="Daniel Gaeta" class="img-thumbnail img-responsive">
      </div>
      <div class="col-log-5 col-md-5 col-sm-5 col-xs-12">
        <h4>Hey, there.</h4>
        <h5>My name is Daniel Gaeta.</h5>
        <p style="color:white">Filler Text</p>
        <h4>Updates on my life:</h4>
        <p>I use this section to update my latest agenda and how I'm spending my days:</p>
        <p style="color:white">Filler Text</p>
        <p>I live in: Seattle </p>
        <p style="color:white">Filler Text</p>
        <p>I work at: Microsoft </p>
        <p style="color:white">Filler Text</p>
        <p>Currently: I'm thinking about personal data security in the internet years to come </p>
        <p style="color:white">Filler Text</p>
        <p>Lately: I have been working on my metacognital awareness and control</p>
        <p style="color:white">Filler Text</p>
        <p>For a while now: I have been working on and studying linguistic neural networks software</p>
      </div>
  </div>
</div>