
<head>
    <title>Daniel Gaeta</title>
    <meta name="description" content="Daniel Gaeta">
    <meta name="keywords" content="Daniel Gaeta, Doing, Understanding,
    Intelligent,DUI,Joliet,Man,University,Illinois,Daniel,Gaeta,Danny">
    <!-- CSS (load bootstrap) -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="app.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <style>
        .navbar { border-radius:0; }
    </style>

</head>

<div class="col-log-3 col-md-3 col-sm-3 col-xs-3"></div>

<div class="col-log-8 col-md-8 col-sm-8 col-xs-12">

  <div class="col-log-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:50px; padding-bottom:50px;">
    <a href="http://nlp.stanford.edu/pubs/politeness.pdf">
      <div class="col-log-5 col-md-7 col-sm-7 col-xs-12">
        <img src="/images/stanford-nlp.png" alt="..." class="img-thumbnail img-responsive">
      </div>
      <div class="col-log-5 col-md-5 col-sm-5 col-xs-12">
        <h4>NLP researchers at Stanford have employed politeness marker studies and found that certain word placements could be the reason you are not socially accepted.</h4>
      </div>
    </a>
  </div>

   <div class="col-log-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:50px; padding-bottom:50px;">
    <a href="http://arxiv.org/pdf/1404.7152v2.pdf">
      <div class="col-log-5 col-md-7 col-sm-7 col-xs-12">
        <img src="/images/geo-tagging.png" alt="..." class="img-thumbnail img-responsive">
      </div>
      <div class="col-log-5 col-md-5 col-sm-5 col-xs-12">
        <h4>How can we assign a geo-location tag to tweets for users who don't choose to share location? Researchers employ a cool convex optimization method and statisical learning model to infer location for over 101, 846, 236 Twitter users. Although, the prescreening of data seems to generously pad the success classification rate, this is still a very interesting read.</h4>
      </div>
    </a>
  </div>
</div>

