
<div class="col-log-3 col-md-3 col-sm-3 col-xs-3"></div>

<div class="col-log-8 col-md-8 col-sm-8 col-xs-12">

  <div class="col-log-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:50px; padding-bottom:50px;">
    <a href="http://nlp.stanford.edu/pubs/politeness.pdf">
      <div class="col-log-5 col-md-7 col-sm-7 col-xs-12">
        <img src="/images/stanford-nlp.png" alt="..." class="img-thumbnail img-responsive">
      </div>
      <div class="col-log-5 col-md-5 col-sm-5 col-xs-12">
        <h4>NLP techniques have discovered these key politeness markers could be the reason you are not socially accepted.</h4>
      </div>
    </a>
  </div>

   <div class="col-log-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:50px; padding-bottom:50px;">
    <a href="http://arxiv.org/pdf/1404.7152v2.pdf">
      <div class="col-log-5 col-md-7 col-sm-7 col-xs-12">
        <img src="/images/geo-tagging.png" alt="..." class="img-thumbnail img-responsive">
      </div>
      <div class="col-log-5 col-md-5 col-sm-5 col-xs-12">
        <h4>How can we assign a geo-location to tweets that don't choose to share it? A cool convex optimization and statisical learning model believes they can. Although, the prescreening of data seems to generously pad the accuracy of predictions, this is still a very interesting read.</h4>
      </div>
    </a>
  </div>
</div>

