
<div class="col-log-3 col-md-3 col-sm-3 col-xs-3"></div>

<div class="col-log-8 col-md-8 col-sm-8 col-xs-12">

  <div class="col-log-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:50px; padding-bottom:50px;">
    <a href="http://adwolla.com/">
      <div class="col-log-5 col-md-7 col-sm-7 col-xs-7">
        <img src="/images/adwolla.png" alt="..." class="img-thumbnail img-responsive">
      </div>
      <div class="col-log-5 col-md-5 col-sm-5 col-xs-5">
        <h4 class="text-center">Individual project. Get paid to evangelize apps and companies you are excited about.</h4>
      </div>
    </a>
  </div>

  <div class="col-log-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom:50px;">
      <div class="col-log-5 col-md-7 col-sm-7 col-xs-7">
      <img src="/images/escape.png" alt="..." class="img-thumbnail img-responsive">
      </div>
       <div class="col-log-5 col-md-5 col-sm-5 col-xs-5">
      <h4 class="text-center">Freelance project. Created web application for escape.</h4>
      </div>
  </div>
</div>