
<head>
    <title>Daniel Gaeta</title>
    <meta name="description" content="Daniel Gaeta">
    <meta name="keywords" content="Daniel Gaeta, Doing, Understanding,
    Intelligent,DUI,Joliet,Man,University,Illinois,Daniel,Gaeta,Danny">
    <!-- CSS (load bootstrap) -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="app.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <style>
        .navbar { border-radius:0; }
    </style>

</head>

<div class="row">
  <h2 class="text-center col-xs-offset-1 col-xs-10" style="padding-top:50px;">The bullet point summary of my life</h2>

</div>

<div class="col-log-3 col-md-3 col-sm-3 col-xs-3"></div>

<div class="col-log-8 col-md-8 col-sm-8 col-xs-12">

  

  <div class="col-log-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:50px; padding-bottom:50px;">
      <div class="col-log-5 col-md-5 col-sm-5 col-xs-5">
        <img src="/images/microsoft_logo2.png" alt="..." class="img-thumbnail img-responsive">
      </div>
      <div class="col-log-5 col-md-5 col-sm-5 col-xs-5">
        <h4 class="text-center"><span style="color:#D9534F;">Present</span>: Software Engineer at Microsoft</h4>
      </div>
    
  </div>

  <div class="col-log-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:50px; padding-bottom:50px;">
      <div class="col-log-5 col-md-5 col-sm-5 col-xs-5">
        <img src="/images/uiuc.png" alt="..." class="img-thumbnail img-responsive">
      </div>
      <div class="col-log-5 col-md-5 col-sm-5 col-xs-5">
        <h4 class="text-center"><span style="color:#D9534F;">Fourth Year Computer Science at UIUC</h4>
      </div>
    
  </div>

  <div class="col-log-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom:50px;">
      <div class="col-log-5 col-md-5 col-sm-5 col-xs-5">
      <img src="/images/stanford-logo.png" alt="..." class="img-thumbnail img-responsive">
      </div>
       <div class="col-log-5 col-md-5 col-sm-5 col-xs-5">
      <h4 class="text-center">Summer 2015: Stanford Summer Quarter</h4>
      </div>
  </div>

  <div class="col-log-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom:50px;">
      <div class="col-log-5 col-md-5 col-sm-5 col-xs-5">
      <img src="/images/uptake.png" alt="..." class="img-thumbnail img-responsive">
      </div>
       <div class="col-log-5 col-md-5 col-sm-5 col-xs-5">
      <h4 class="text-center">Summer 2015: Developer Intership at Uptake</h4>
      </div>
  </div>

  <div class="col-log-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom:50px;">
      <div class="col-log-5 col-md-5 col-sm-5 col-xs-5">
      <img src="/images/uiuc.png" alt="..." class="img-thumbnail img-responsive">
      </div>
       <div class="col-log-5 col-md-5 col-sm-5 col-xs-5">
      <h4 class="text-center">Third Year Computer Science at UIUC</h4>
      </div>
  </div>

  <div class="col-log-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom:50px;">
      <div class="col-log-5 col-md-5 col-sm-5 col-xs-5">
      <img src="/images/neustar.png" alt="..." class="img-thumbnail img-responsive">
      </div>
       <div class="col-log-5 col-md-5 col-sm-5 col-xs-5">
      <h4 class="text-center">Summer 2014: Software Engineering internship at Neustar</h4>
      </div>
  </div>

  <div class="col-log-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom:50px;">
        <div class="col-log-5 col-md-5 col-sm-5 col-xs-5">
        <img src="/images/uiuc.png" alt="..." class="img-thumbnail img-responsive">
        </div>
         <div class="col-log-5 col-md-5 col-sm-5 col-xs-5">
        <h4 class="text-center">Second Year Computer Science at UIUC</h4>
        </div>
  </div>

  <div class="col-log-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom:50px;">
    <a href="http://thenextweb.com/apps/2013/01/04/fitsby-this-android-app-lets-you-challenge-your-friends-to-a-game-of-gym-check-in-you-win-by-going-the-most/">
       <div class="col-log-5 col-md-5 col-sm-5 col-xs-5">
      <img src="/images/fitsby.png" alt="..." class="img-thumbnail img-responsive">
      </div>
    </a>
       <div class="col-log-5 col-md-5 col-sm-5 col-xs-5">
      <h4 class="text-center">Summer 2013: Co-founded mobile app fitsby, funded and incubated at Tigerlabs</h4>
      </div>
  </div>

  <div class="col-log-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom:50px;">
       <div class="col-log-5 col-md-5 col-sm-5 col-xs-5">
      <img src="/images/uiuc.png" alt="..." class="img-thumbnail img-responsive">
      </div>
       <div class="col-log-5 col-md-5 col-sm-5 col-xs-5">
      <h4 class="text-center">First Year Computer Science at UIUC</h4>
      </div>
  </div>
</div>