body {
  padding-top: 50px;
}

.navbar {
  height: 65px;
  background-color: white;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  z-index:1000;
}


.icon-bar {
   background-color:#FF0000 !important;
}

#bs-example-navbar-collapse-1 {
  background-color: white;
}


@font-face {
    font-family: 'gotham_bookregular';
    src: url('/fonts/gotham-book/gotham-book-webfont.eot');
    src: url('/fonts/gotham-book/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gotham-book/gotham-book-webfont.woff2') format('woff2'),
         url('/fonts/gotham-book/gotham-book-webfont.woff') format('woff'),
         url('/fonts/gotham-book/gotham-book-webfont.ttf') format('truetype'),
         url('/fonts/gotham-book/gotham-book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}