
.module > header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
}
.module > header > h1 {
  margin: 0;
  color: white;
  text-shadow: 0 1px 0 black;
}




/**
 * Components.
 */

/**
 * Layout.
 */

.Layout {
  box-sizing: content-box;
}

.Layout-main,
.Layout-nav {
  width: 100%;
}

.Layout-main {
  max-width: 1000px;
  margin: 0 auto;
}

/**
 * Tiny screens.
 */

@media screen and (max-width: 479px) {
  .Layout {
    padding: 30px;
  }
}

/**
 * Small screens.
 */

@media screen and (min-width: 480px) and (max-width: 719px) {
  .Layout {
    padding: 60px;
  }
}

/**
 * Medium screens.
 */

@media screen and (min-width: 720px) and (max-width: 1079px) {
  .Layout {
    padding: 60px;
  }
}

/**
 * Large screens.
 */

@media (min-width: 1080px) {
  .Layout {
    width: 100%;
    margin: 0 auto;
    max-width: 1020px;
    padding: 120px;
  }

  .Layout-main {
    max-width: 660px;
    margin: 0;
  }

  .Layout-nav {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: 220px;
    margin-top: -60px;
    max-width: 300px;
  }
}



/**
 * Profile.
 */

.Profile {
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: 720px) {
  .Profile {
    margin-bottom: 60px;
  }
}

/**
 * Avatar.
 */

.Profile-avatar {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: url('/images/facial3.png');
  background-size: contain;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
}

@media screen and (min-width: 480px) and (max-width: 719px) {
  .Profile-avatar {
    width: 90px;
    height: 90px;
    border-radius: 90px;
  }
}

@media (min-width: 720px) {
  .Profile-avatar {
    width: 120px;
    height: 120px;
    border-radius: 120px;
  }
}

