<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 

<!DOCTYPE html>
<html>
<head>
    <title>Daniel Gaeta</title>
    <meta name="description" content="Daniel Gaeta">
    <meta name="keywords" content="Daniel Gaeta, Doing, Understanding,
    Intelligent,DUI,Joliet,Man,University,Illinois,Daniel,Gaeta,Danny">
    <!-- CSS (load bootstrap) -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="app.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <style>
        .navbar { border-radius:0; }
    </style>

</head>

<!-- apply our angular app to our site -->
<body ng-app="so">

<nav class="navbar navbar navbar-fixed-top sticky" role="navigation">
  <div class="container-fluid" ng-controller="soCtrl">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="soHome" style="font-family: gotham_bookregular">Daniel Gaeta</a>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div collapse="navCollapsed" class="collapse nav-collapse navbar-collapse navbar-responsive-collapse" ng-class="{'in': !navCollapsed}" id="bs-example-navbar-collapse-1" ng-click="navCollapsed=true">
      <ul class="nav navbar-nav">
        <li><a  ui-sref="soHome">Home</a></li>
        <li><a  ui-sref="soLife">Life</a></li>
        <li><a  ui-sref="soAbout">About</a></li>
        <li><a  ui-sref="soProjects">Projects</a></li>
        <li><a  ui-sref="soVideos">Videos</a></li>
        <li><a  ui-sref="soCool">Cool</a></li>
        <li><a  ui-sref="soContact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>


<!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
<div ui-view></div>



  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>

  <script src="app.js"></script>

  <!-- Misc -->
  <script src="components/home/home.module.js"></script>
  <script src="components/life/life.module.js"></script>
  <script src="components/cool/cool.module.js"></script>
  <script src="components/about/about.module.js"></script>
  <script src="components/projects/projects.module.js"></script>
  <script src="components/videos/videos.module.js"></script>
  <script src="components/contact/contact.module.js"></script>
  <script src="components/private/private.module.js"></script>

  <!-- Auth -->
  <script src="components/auth/auth.module.js"></script>
  <script src="components/auth/login/login.module.js"></script>
  <script src="components/auth/login/login.controller.js"></script>
  <script src="components/auth/registration/registration.module.js"></script>
  <script src="components/auth/registration/registration.controller.js"></script>
  <script src="components/auth/social/social.module.js"></script>
  <script src="components/auth/social/social.controller.js"></script>

  <!-- services -->
  <script src="services/auth.service.js"></script>
  <script src="services/company.service.js"></script>
  <script src="services/user.service.js"></script>
  

</body>
</html>
