<div class="Layout">
      <div class="Layout-nav">
        <div class="Profile">
          <a class="Profile-avatar" href="/"></a>
          <h1 class="Profile-name Heading Heading--medium"><a href="/">Daniel Gaeta</a></h4>
          <p class="Profile-role text-center">Software Engineer. Data theorist. Neural Networks Modeler. 
					<br>
					I'm the guy who won't accept the status quo and challenges the way we do things.</p>      
        </div>      
      </div>

      <div class="Layout-main">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <a ui-sref="soLife">
              <h4 class="text-center">Life</h4>
              <img src="/images/stanford.png" alt="..." class="img-thumbnail img-responsive">
            </a>
            <a ui-sref="soAbout">
              <h4 class="text-center">About</h4>
              <img src="/images/sf_giants.jpg" alt="..." class="img-thumbnail img-responsive">
            </a>
            <a ui-sref="soProject">
              <h4 class="text-center">Projects</h4>
              <img src="/images/yosemite.png" alt="..." class="img-thumbnail img-responsive">
            </a>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <a ui-sref="soCool">
              <h4 class="text-center">Cool Stuff</h4>
              <img src="/images/charlie.png" alt="..." class="img-thumbnail img-responsive">
            </a>
            <a ui-sref="soVideos">
              <h4 class="text-center">Videos</h4>
              <img src="/images/chicago.png" alt="..." class="img-thumbnail img-responsive">
            </a>
            <a ui-sref="soContact">
              <h4 class="text-center">Contact</h4>
              <img src="/images/northbeach.png" alt="..." class="img-thumbnail img-responsive">
            </a>
          </div>
        </div>


      </div>
      </div>
    </div>
