
<div class="col-log-3 col-md-3 col-sm-3 col-xs-3"></div>

<div class="col-log-8 col-md-8 col-sm-8 col-xs-12">

  <div class="col-log-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:50px; padding-bottom:50px;">
    <a href="https://www.youtube.com/watch?v=lr8sVailoLw">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <img src="/images/richard-feynman.png" alt="..." class="img-thumbnail img-responsive">
      </div>
       </a>
      <div class="col-log-4 col-md-4 col-sm-4 col-xs-12">
        <p class="text-center">Great interview. Richard Feynman discusses how when we are learning something new, we transcibe the concepts we learn into a form of auditory and visual representations in our minds. He points out, that the way we choose to transcribe the concepts and represent them, could be the reason why we see something as obvious - while others have a hard time learning the same concept. </p>
      </div>
   
  </div>
</div>






